* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("assets/bg.jpg");
  background-size: cover;

  font-weight: 800;
  font-size: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

<<<<<<< HEAD
.cover {
=======
.cover{
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
  background-color: rgba(34, 34, 34, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.container {
<<<<<<< HEAD
  width: 70%;
  color: rgb(226, 221, 221);
  border-radius: 5px;
  z-index: 4;
  /* max-width: 70%; */
  /* background-color: white; */
  /* color: white; */
  /* box-shadow: 0 10px 5px white; */
}

.content {
  margin-top: 7vh;
  /* padding: 20px; */
}

.header {
=======
  /* max-width: 70%; */
  width: 70%;
  /* background-color: white; */
  color: rgb(226, 221, 221);
  /* color: white; */
  /* box-shadow: 0 10px 5px white; */
  border-radius: 5px;
  z-index: 4;
}

.content {
  /* padding: 20px; */
  margin-top: 7vh;
}

.header {
  /* background-color: white; */
  /* height: 120px; */
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
  display: flex;
  justify-content: center;
  align-items: flex;
  margin-top: -5%;
<<<<<<< HEAD
  /* background-color: white; */
  /* height: 120px; */
=======
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
  /* border-top-right-radius: 5px; */
  /* border-top-left-radius: 5px; */
}

.icon-container {
  position: relative;
  top: 40px;
  padding: 20px;
<<<<<<< HEAD
=======
  /* background-color: white; */
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
  width: 140px;
  height: 140px;
  border-radius: 50%;
  /* background-color: white; */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.status {
  font-size: 5vh;
  font-weight: bold;
}

.location {
  color: rgb(228, 216, 216);
  font-size: 3.3vh;
  font-weight: normal;
}

#date {
  margin-top: 4%;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5%;
<<<<<<< HEAD
  margin-bottom: 2.5%;
=======
  margin-bottom: 2.5%
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  /* padding: 5px; */
}

.detail .title {
  font-size: 2.8vh;
  flex-grow: 0.2;
  font-weight: bold;
}

.detail .value {
  font-size: 4.5vh;
  margin: 1.5% 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.search {
<<<<<<< HEAD
  font-weight: 600;
=======
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
  font-size: 3vh;
  outline: none;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 3px 7px;
  padding: 0 1.5%;
  background-color: rgb(238, 231, 231);
}

#unit {
<<<<<<< HEAD
  font-weight: 500;
  font-size: 2vh;
  outline: none;
  margin-left: 2%;
  height: 6vh;
  border: 0;
  border-radius: 5px;
  width: 25%;
  padding: 0 1.5%;
  background-color: rgb(238, 231, 231);
  /* margin-top: 20px; */
}

option {
  background-color: rgb(238, 231, 231);
  border-radius: 5px;
=======
  /* margin-top: 20px; */
  margin-left: 2%;
  height: 6vh;
  border: 0;
  border-radius: 5px;
  width: 25%;
  padding: 0 1.5%;
}

option {  
  background-color: rgb(238, 231, 231);
>>>>>>> 07425a89e018be08d84ef7344feeecf7631fddeb
}

#button {
  display: none;
}
