* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("assets/bg.jpg");
  background-size: cover;

  font-weight: 800;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  width: 1200px;
  background-color: white;
  box-shadow: 0 10px 5px black;
  border-radius: 5px;
}

.content {
  padding: 20px;
  margin-top: 50px;
}

.header {
  background-color: black;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.icon-container {
  position: relative;
  top: 40px;
  padding: 20px;
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.status {
  font-size: 2.5rem;
  font-weight: bold;
}

.location {
  color: #666;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 5px;
}

.detail .title {
  font-size: 1rem;
  flex-grow: 0.2;
  font-weight: bold;
}

.detail .value {
  font-size: 1.8rem;
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search {
  margin-top: 20px;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid #222;
  border-radius: 5px;
  width: 100%;
  padding: 3px 7px;
  font-weight: bold;
}

#unit {
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
}

#button {
  display: none;
}
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
    font-weight: 800; 
    color: white;
    font-size: 3.5vh;
    text-align: center;
}

img {
    height: 30px;
    width: 30px;
}

.search {
    margin-top: 10vh;
    margin-bottom: 5vh;
    /* text-align: center; */
}

.inputkardo {
    margin-right: 2.5vw;
}

input, select {
    height: 5vh;
    vertical-align: middle;
    border-radius: 5px;
    border: 0;
    padding: 1vh;
    font-size: 2vh;
    color: #171123;
    margin: 0 2px
}

input {
    width: 20%;
}

button {
    height: 5vh;
    vertical-align: middle;
    width: 5vw;
    border: 0;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.cont-loc {
    display: flex;
    justify-content: center;
}

.cont-loc > * {
    margin: 5%;
}

.user-loc, .tempDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info {
    margin: 0 10%;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.description {
    margin: 5% 0;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

/* figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
>>>>>>> 581cd55c8a7621accf61e519d80f58d1fc3c5447
